.editor {
	position: relative;
	width: 100%;
	height: 83vh;
}

.card-editor {
	padding: 5px !important;
	background-color: #282A36 !important;
}

.nav {
	background-color: #333;
}

.gamesense-green {
	color: #95B817 !important;
}

.gamesense-green-bg {
	background-color: #95B817 !important;
}

.section {
	margin-top: 20px !important;
}

.btn {
	padding: 0 31px;
}

.button {
	margin-top: 8px;
}

@media only screen and (min-width: 993px) {
	#toast-container {
		right: unset;
		left: 7%;
	}
}

@media only screen and (max-width: 768px) {
	#toast-container {
		bottom: unset;
		top: 9%;
	}

	.editor {
		max-height: 72vh;
	}

	.button {
		width: 100%;
	}

	.btn {
		height: 54px;
		line-height: 54px;
	}
}
